@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch:700");
@import url("https://fonts.googleapis.com/css?family=ABeeZee");
@font-face {
  font-family: 'Francoise';
  src: url("../fonts/francoise.otf"); }
body, .row, .container {
  margin: 0;
  padding: 0; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1,
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2,
.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7 {
  padding: 0; }

.col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11,
.col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding: 0; }

h1 {
  font-family: 'Cabin Sketch', sans-serif;
  color: #fff;
  text-transform: uppercase; }

h2, h3, p, a {
  font-family: 'ABeeZee', sans-serif; }

a, a:visited, a:hover {
  text-decoration: none; }

.nav {
  width: 100%; }
  .nav a {
    font-size: 1.2em;
    color: #fff; }
  .nav .container {
    margin: 0;
    padding: 0;
    width: 100%; }

.nav-desktop {
  position: absolute;
  top: 0;
  z-index: 10; }
  .nav-desktop img {
    width: 160px; }
  .nav-desktop ul {
    list-style-type: none;
    display: inline-flex;
    line-height: 160px;
    margin-top: -20px; }
    .nav-desktop ul a {
      margin: 0 15px;
      text-transform: uppercase; }
  .nav-desktop .site-links {
    margin-left: -60px; }
  .nav-desktop .social-links {
    text-align: right;
    float: right;
    margin-right: 40px; }
    .nav-desktop .social-links a {
      font-size: 2em; }

.hero-desktop {
  z-index: 1; }
  .hero-desktop .carousel-inner {
    text-align: center;
    color: #fff; }
    .hero-desktop .carousel-inner h1 {
      letter-spacing: 4px;
      font-size: 7em;
      padding-top: 25vh;
      margin: 0; }
    .hero-desktop .carousel-inner p {
      font-size: 1.3em; }
    .hero-desktop .carousel-inner i {
      font-size: 40px; }
    .hero-desktop .carousel-inner .arrow-1 {
      margin-top: 100px; }
    .hero-desktop .carousel-inner .arrow-2 {
      margin-top: -20px;
      margin-left: -3px; }
    .hero-desktop .carousel-inner .underline {
      border: 2px solid #fff;
      border-radius: 7px;
      width: 120px;
      margin: 10px auto 20px auto; }
    .hero-desktop .carousel-inner .item {
      width: 100%;
      height: 100vh; }
    .hero-desktop .carousel-inner .hero-1 {
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-1.jpg");
      background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-1.jpg");
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .hero-desktop .carousel-inner .hero-2 {
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-2.jpeg");
      background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-2.jpeg");
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-2.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .hero-desktop .carousel-inner .hero-3 {
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-4.jpeg");
      background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-4.jpeg");
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-4.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }

.tours {
  text-align: center;
  padding: 60px 0 80px 0; }
  .tours .container {
    width: 100%; }
  .tours .title {
    font-size: 70px; }
  .tours .sub-title {
    width: 80%;
    margin: 0 auto; }
  .tours img {
    max-width: 100%; }
  .tours h1 {
    color: #01176d;
    font-size: 25px; }
  .tours .text-container {
    width: 80%;
    margin: 40px auto; }
  .tours p {
    margin-bottom: 20px; }
  .tours a, .tours a:visited {
    background-color: #01176d;
    border: 3px solid #01176d;
    border-radius: 4px;
    color: #fff;
    padding: 8px 15px;
    transition: 0.2s;
    text-transform: uppercase; }
    .tours a:hover, .tours a:visited:hover {
      background-color: #fff;
      color: #01176d;
      transition: 0.2s; }

.why-taiwan {
  text-align: center;
  min-height: 100vh;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/taiwan-22.jpeg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/taiwan-22.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/taiwan-22.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 60px 0 80px 0; }
  .why-taiwan .container {
    width: 100%; }
  .why-taiwan h1 {
    font-size: 70px; }
  .why-taiwan p {
    color: #fff;
    font-size: 1.6em;
    line-height: 1.6;
    width: 60%;
    margin: 60px auto; }

@media (max-width: 900px) {
  .why-taiwan {
    background-attachment: scroll; }
    .why-taiwan p {
      width: 90%; } }

/*# sourceMappingURL=app.css.map */
