.nav {
  width: 100%;
  a {
    font-size: 1.2em;
    color: #fff;
  }
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.nav-desktop {
  position: absolute;
  top: 0;
  z-index: 10;
  img {
    width: 120px;
  }
  ul {
    list-style-type: none;
    display: inline-flex;
    line-height: 160px;
    margin-top: -20px;
    a, a:visited {
      color: #fff;
      text-decoration: none;
      transition: 0.2s;
      margin: 0 15px;
      text-transform: uppercase;
      &:hover {
        color: $light-blue;
        transition: 0.2s;
      }
    }
  }
  .site-links {
    margin-left: -40px;
  }
  .social-links {
    text-align: right;
    float: right;
    margin-right: 40px;
    a {
      font-size: 2em;
    }
  }
}
